<h1>Bonjour! Veuillez confirmer votre adresse-mail!</h1>

<p>
    Veuillez confirmer votre adresse-mail en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien sera expiré dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Souriez!
</p>
